* {
  cursor: pointer;
  background-size: auto;
}

body {
  background-color: black;
  background-image: linear-gradient(blue, black);
  background-repeat: no-repeat;
}

h1 {
  text-align: center;
  font-family: 'Lobster', Georgia, Times, serif;
  font-size: 5em;
  color: #e6e6e6;
  text-shadow: -5px 0 black, 0 5px black, 5px 0 black, 0 -5px black;
}



.deal  {
  background-color: blue;
  border: 1px solid black;
  border-radius: 4px;
  display: inline-block;
  color: white;
  padding: 5px 5px;
  font-size: 15px;
  font-weight: bold;
  margin-top: 10px;
  margin-left: 635px;
}

.hit {
  background-color: green;
  border: 1px solid black;
  border-radius: 4px;
  display: inline-block;
  color: white;
  padding: 5px 5px;
  font-size: 15px;
  font-weight: bold;
  margin-left: 5px;
}

.stand {
  background-color: red;
  border: 1px solid black;
  border-radius: 4px;
  display: inline-block;
  color: white;
  padding: 5px 5px;
  font-size: 15px;
  font-weight: bold;
  margin-left: 5px;
}

.gamebox {
  background-color: #339966;
  border: 3px solid black;
  display: flex;
  flex-wrap: wrap;
  height: 200px;
  width: 50%;
  margin: 0 auto;
}

.dealerhand{
  width: 115px;
  height: 150px;
  background: #e6e6e6;
  border: 1px solid black;
  border-radius: 5px;
  visibility: hidden;
}

.playercards {
  margin-top: 48px;
  width: 115px;
  height: 150px;
  background: #e6e6e6;
  border: 1px solid black;
  border-radius: 5px;
  visibility: hidden;
}

.total {
  border: 1px solid black;
  border-radius: 4px;
  display: inline-block;
  color: white;
  padding: 5px 5px;
  font-size: 15px;
  font-weight: bold;
  margin-left: 630px;
}

.dealergamebox {
  background-color: #339966;
  border: 3px solid black;
  display: flex;
  flex-wrap: wrap;
  height: 200px;
  width: 50%;
  margin: 0 auto;
}
