* {
  cursor: pointer;
}

body {
  background-color: #339966;
}

h1 {
  text-align: center;
  font-family: 'Lobster', Georgia, Times, serif;
  font-size: 5em;
}

/* .container {
  margin-top: 10px;
} */


.deal  {
  background-color: blue;
  border: 1px solid black;
  border-radius: 4px;
  display: inline-block;
  color: white;
  padding: 5px 5px;
  font-size: 15px;
  font-weight: bold;
  margin-top: 10px;
  margin-left: 600px;
}

.hit {
  background-color: green;
  border: 1px solid black;
  border-radius: 4px;
  display: inline-block;
  color: white;
  padding: 5px 5px;
  font-size: 15px;
  font-weight: bold;
  margin-left: 5px;
}

.stand {
  background-color: red;
  border: 1px solid black;
  border-radius: 4px;
  display: inline-block;
  color: white;
  padding: 5px 5px;
  font-size: 15px;
  font-weight: bold;
  margin-left: 5px;
}

.playerhand {
  border: 1px solid black;
  display: flex;
  flex: auto;
  height: 200px;
  width: auto;
  margin: 0 auto;
}

/* .total {
  border: 1px solid black;
  display: flex;
  flex: auto;
  height: 20px;
  width: auto;
} */
